<div class="card">
	<div class="card-body">
		<h2 class="text-left">Add objects</h2>
		<div class="form-inline" style="margin-bottom: .1em" ng-repeat="object in objects">
			<div class="form-group">
				<input name="objectInput" type="text" class="form-control" ng-model="object.name"/>
			</div>&nbsp;
			<button type="button btn-sm" class="btn btn-light" ng-click="removeObject(object)">Remove</button>
		</div>
		
		<div class="form-inline" style="margin-top: .1em">
			<div class="form-group" ng-form name="objectNewForm">
				<input name="objectInput" type="text" class="form-control input-lg" ng-model="newObjectName"
					   ng-keyup="$event.keyCode == 13 && addObject(newObjectName)"/>
			</div>&nbsp;
			<button type="button" class="btn btn-secondary" ng-click="addObject(newObjectName)" ng-disabled="!newObjectName">Add</button>
		</div>
	</div>
</div>