<div class="card" ng-show="objects.length && categories.length">
	<div class="card-body">
		<h2 class="text-left">Rank objects</h2>
		
		<p>Rank, don't rate. Rank 1 represents the best. Objects can share rank</p>
		
		<table class="table">
			<caption ng-show="showHint">
				Result will be calculated once you rank all objects for all categories
			</caption>
			<thead>
			<tr>
				<th>Object</th>
				<th ng-repeat="category in categories">{{category.name}}</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="object in objects | orderBy:'name'">
				<td>{{object.name}}</td>
				<td ng-repeat="category in categories">
					<input name="ranking" type="number" class="form-control" ng-model="object[category.name].rank" step="1"
						ng-change="clampRankWhenAssigningRank(object[category.name])"/>
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td ng-repeat="category in categories">
					<button type="button" class="btn btn-sm btn-block btn-secondary" data-toggle="modal" data-target="#zoomInModal"
							ng-click="focusCategory(category)">
						<i class="fa fa-search" aria-hidden="true"></i>
					</button>
					<button type="button" class="btn btn-sm btn-block btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btnGroupDrop1">
						<i class="fa fa-wrench" aria-hidden="true"></i>
					</button>
					<div class="dropdown-menu" aria-labelledby="btnGroupDrop1" ng-controller="CategoryRankingHelperController as catRankCtrl">
						<button class="dropdown-item" type="button"
								ng-disabled="!catRankCtrl.canCondense(category)"
								ng-click="catRankCtrl.condenseForCategory(category)">
							Condense: remove ranking gaps
						</button>
						<button class="dropdown-item" type="button"
								ng-disabled="!catRankCtrl.canRedistribute(category)"
								ng-click="catRankCtrl.redistributeForCategory(category)">
							Redistribute: min max spread
						</button>
						<button class="dropdown-item" type="button"
								ng-disabled="!catRankCtrl.canClamp(category)"
								ng-click="catRankCtrl.clampForCategory(category)">
							Clamp: reassign lowest rank
						</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="zoomInModal" tabindex="-1" role="dialog" aria-labelledby="zoomInModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="zoomInModalLabel">Rank for {{focussedCategory.name}}</h2>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" ng-form name="zoomInForm">
				<p class="text-secondary">Rank by dragging. Objects can share ranks.</p>
				
				<div class="row">
					<div class="col-md-6">
						<div ng-repeat="objectsForRank in ranksInCategory">
							<div class="card card-info">
								<div class="card-header">
									<h3 class="card-title">Rank {{$index + 1}}</h3>
								</div>
								<div class="card-body">
									<ul dnd-list="objectsForRank">
										<li ng-repeat="object in objectsForRank"
											dnd-draggable="object"
											dnd-moved="objectsForRank.splice($index, 1) && syncObjects()"
											dnd-effect-allowed="move">
											<div dnd-handle class="handle left">:::</div>
											{{object.name}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="card card-info">
							<div class="card-header">
								<h3 class="card-title">Unranked objects</h3>
							</div>
							<div class="card-body">
								<ul dnd-list="objectsNotRanked">
									<li ng-repeat="object in objectsNotRanked"
										dnd-draggable="object"
										dnd-moved="objectsNotRanked.splice($index, 1) && syncObjects()"
										dnd-effect-allowed="move">
										<div dnd-handle class="handle left">:::</div>
										{{object.name}}
									</li>
								</ul>
							</div>
						</div>
					</div>
					<pre>{{modelAsJson}}</pre>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Finish</button>
			</div>
		</div>
	</div>
</div>